extends layout 

block content

    div

        nav(class="navbar fixed-top navbar-expand-lg navbar-light bg-light")
            a(class="navbar-brand" href="#") Roster Scheduler
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
    
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                span(class="navbar-text ml-auto") Logged in as #{user_info.first_name} #{user_info.last_name}, #{user_info.type}. &nbsp;
                ul(class="navbar-nav")
                    li(class="nav-item active")
                        
                        a(class="nav-link" href="/logout") Log Out. 
                            span(class="sr-only") (current)

    br
    br
    br
    br
    div(class="d-flex flex-column text-center align-items-center justify-content-center card-deck")
        h1(class="display-4") Dashboard
        br
        if(message)
            div(class="alert alert-danger") #{message}
        br

        div(class="row")

            div(class="col-lg-4 py-3")
                div(class="card rounded shadow-lg h-100")
                    div(class="card-body text-center")
                        a(class="btn btn-outline-dark btn-lg stretched-link" href="admin/register") New Registrations
                        br
                        br
                        em Approve incoming registration requests
                        br
                        em This keeps strangers from cluttering the system.

            div(class="col-lg-4 py-3")
                div(class="card rounded shadow-lg h-100")
                    div(class="card-body text-center")
                        a(class="btn btn-outline-dark btn-lg stretched-link" href="admin/allwards") Manage Wards
                        br
                        br
                        em Manage all the wards in the hospital.
                        br
                        em View ward details and rosters, and remove doctors if necessary

            div(class="col-lg-4 py-3")
                div(class="card rounded shadow-lg h-100")
                    div(class="card-body text-center")
                        a(class="btn btn-outline-dark btn-lg stretched-link" href="admin/issue") Report Messages
                        br
                        br
                        em Reports sent by any doctor in the hospital 
                        br
                        em Resolve the issue with the doctor and dismiss the messages.

    br
    br
//    
    div(class="container-fluid pt-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")
            h1 Admin Dashboard

            //- em Welcome, Mr. #{user_info.first_name}
            br
            a(href="/logout") Log Out
            
            if(message)
                div(class="alert alert-danger") #{message}
            br


        div(class="container d-flex flex-column align-items-center justify-content-center")
            a(type="button" class="btn btn-lg btn-primary col-6" href="admin/register") View New Registrations 
            br

            a(type="button" class="btn btn-lg btn-primary col-6" href="admin/allwards") View and Manage Wards 
            br

            a(type="button" class="btn btn-lg btn-primary col-6" href="admin/issue") Report Messages
            br