extends layout 

block content

    div

        nav(class="navbar fixed-top navbar-expand-lg navbar-light bg-light")
            a(class="navbar-brand" href="#") Roster Scheduler
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
    
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                span(class="navbar-text ml-auto") Logged in as #{user_info.first_name} #{user_info.last_name}, #{user_info.type}. &nbsp;
                ul(class="navbar-nav")
                    li(class="nav-item active")
                        
                        a(class="nav-link" href="/logout") Log Out. 
                            span(class="sr-only") (current)

    br
    br
    br
    
    div(class="container-fluid pt-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")
            h1 Admin Dashboard

            //- em Welcome, Mr. #{user_info.first_name}
            br
            a(href="/logout") Log Out
            
            if(message)
                div(class="alert alert-danger") #{message}
            br


        div(class="container d-flex flex-column align-items-center justify-content-center")
            a(type="button" class="btn btn-lg btn-primary col-6" href="admin/register") View New Registrations 
            br

            a(type="button" class="btn btn-lg btn-primary col-6" href="admin/allwards") View and Manage Wards 
            br

            a(type="button" class="btn btn-lg btn-primary col-6" href="admin/issue") Report Messages
            br