extends layout 

block content

    nav(class="navbar fixed-top navbar-expand-lg navbar-light bg-light")
                a(class="navbar-brand" href="/home") Roster Scheduler
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
        
                div(class="collapse navbar-collapse" id="navbarSupportedContent")

                    ul(class="navbar-nav mr-auto")
                        
                        li(class="nav-item")
                            a(class="nav-link" href="/admin/register") Registrations

                        li(class="nav-item active")
                            a(class="nav-link" href="/admin/allwards") Wards 
                                span(class="sr-only")

                        li(class="nav-item")
                            a(class="nav-link" href="/admin/reports") Reports

                    span(class="navbar-text ml-auto") 
                    ul(class="navbar-nav")
                        li(class="nav-item active")
                            
                            a(class="nav-link" href="/logout") Log Out
                                span(class="sr-only") (current)

    br
    br
    br
    br

    div(class="d-flex flex-column text-center align-items-center justify-content-center")
        h4(class="display-4") Ward: #{wardName}

        if(message)
                br
                div(class="alert alert-danger") #{message}

        if(docs.length<min_docs*6) 
            div(class="alert alert-warning") Not enough doctors to create a roster! 
        else
            a(href="/admin/roster/#{wardID}") 
                h4 View Roster
        br

        div(class="row w-100")
            div(class="col-md-6")
                div(class="card rounded shadow-lg mr-10 ml-4")
                    div(class="card-body text-center")

                        h3(class="card-title") Parameters &nbsp;

                        table(class="table table-bordered")
                            tbody 
                                tr 
                                    td Minimum no. of doctors per shift 
                                    td #{min_docs}

                                tr 
                                    td Morning shift starts at:
                                    td #{morning_start}

                                tr 
                                    td Day shift starts at:
                                    td #{day_start}

                                tr 
                                    td Night shift starts at:
                                    td #{night_start}

            div(class="col-md-6")
                div(class="card rounded shadow-lg mx-4")
                    div(class="card-body text-center")

                        h3(class="card-title") Doctors in this ward (#{docs.length})
                            br 
                            a(href="/admin/add/#{wardID}") (Add More)

                        em Roster creation requires at least #{min_docs*6} doctors
                        br
                        br

                        for doc in docs
                            div(class="w-100 list-group-item pt-1 px-6") 
                                form(method="POST", action="/admin/remove") 
                                        em= doc.first_name+' '+doc.last_name
                                        //- &emsp; 
                                        input(type="hidden", name="wardId", value=wardID)
                                        input(type="hidden", name="doctorID", value=doc.user_id)
                                        button(type="submit" class="btn btn-info btn-sm float-right") Remove

    br
    br




//
    div(class="container-fluid py-4")
        div(class="jumbotron text-center")

            p
                i(class="fas fa-arrow-left" style="color:#1E90FF")
                a(href='/admin/allwards') &nbsp; Back to All wards Details
                br
                i(class="fas fa-arrow-left" style="color:#1E90FF")
                a(href='/home') &nbsp; Back to Dashboard

            h1 Ward: #{wardName}

            if(message)
                br
                div(class="alert alert-danger") #{message}

            a(href="/admin/roster/#{wardID}") 
                h4 View Rosters
            br
            
            input(type="hidden", name="wardId", value=wardID)
            
            div(class="row")
                div(class="col-md-6")
                    div(class="card rounded shadow-lg")
                        div(class="card-body text-center")

                            h3(class="card-title") Parameters &nbsp;

                            p Minimum number of doctors on one shift: #{min_docs}

                            p Morning shift start time: #{morning_start}

                            p Day shift start time: #{day_start}

                            p Night shift start time: #{night_start} 

                div(class="col-md-6")
                    div(class="card rounded shadow-lg")
                        div(class="card-body text-center")

                            h3(class="card-title") Doctors in this ward &nbsp; 
                                a(href="/admin/add/#{wardID}") (Add More)
                            
                            p (Minimum number of doctors required to be in this ward: #{min_docs*6} )

                            for doc in docs
                                form(method="POST", action="/admin/remove") 
                                    em= doc.first_name+' '+doc.last_name
                                    //- &emsp; 
                                    input(type="hidden", name="wardId", value=wardID)
                                    input(type="hidden", name="doctorID", value=doc.user_id)
                                    button(type="submit" class="btn btn-info") Remove