extends ../layout 

block content

    div

        nav(class="navbar fixed-top navbar-expand-lg navbar-light bg-light")
            a(class="navbar-brand" href="#") Roster Scheduler
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
    
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                span(class="navbar-text ml-auto") Logged in as #{user_info.first_name} #{user_info.last_name}, #{user_info.type}. &nbsp;
                ul(class="navbar-nav")
                    li(class="nav-item active")
                        
                        a(class="nav-link" href="/logout") Log Out. 
                            span(class="sr-only") (current)

    br
    br
    br

    div(class="d-flex flex-column text-center align-items-center justify-content-center card-deck")
        h1(class="display-4") Dashboard
        br
        if(message)
            div(class="alert alert-danger") #{message}

        if (!hasWard)
            div(class="card rounded shadow-lg col-6")
                    div(class="card-body text-center")
                        p You will be able to view your roster and working hours, report issues, set preferences and apply for leave when you are assigned a ward. 
                br
        else
            div(class="row mt-3")
                div(class="col")
                    div(class="card rounded shadow-lg h-100")
                        div(class="card-body text-center")
                            a(class="btn btn-outline-dark btn-lg stretched-link" href="/doctor/roster/#{wardID}") Your Roster
                            br
                            br
                            em View the roster for your ward
                            br
                            em And the shifts scheduled for you separately

                div(class="col")
                    div(class="card rounded shadow-lg h-100")
                        div(class="card-body text-center")
                            a(class="btn btn-outline-dark btn-lg stretched-link" href="/doctor/preferences") Set Preferences
                            br
                            br
                            em Tell us which day you want off in the next month. 
                            br
                            em We'll keep that day free when we create the roster.


            br
            div(class="row mt-3")
                div(class="col")
                    div(class="card rounded shadow-lg h-100")
                        div(class="card-body text-center")
                            a(class="btn btn-outline-dark btn-lg stretched-link" href="/doctor/report") Report an Issue
                            br
                            br
                            em Something wrong with your schedule? 
                            br
                            em Inform your consultant and hospital admin of the issue.

                div(class="col")
                    div(class="card rounded shadow-lg h-100")
                        div(class="card-body text-center")
                            a(class="btn btn-outline-dark btn-lg stretched-link" href="/doctor/leave") Apply For Leave
                            br
                            br
                            em Need a day off in this month itself?
                            br
                            em When your consultant approves your request, we'll fill the slot.
    br
    br




//
    div(class="container-fluid pt-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")
            h1 Doctor Dashboard

            em Welcome, Dr. #{user_info.last_name}
            br
            a(href="/logout") Log Out
            
            if(message)
                div(class="alert alert-danger") #{message}
            br


        div(class="container d-flex flex-column align-items-center justify-content-center")
            if(hasWard)
                a(type="button" class="btn btn-lg btn-primary col-6" href="doctor/roster/#{wardID}") View Your Roster
                br

                a(type="button" class="btn btn-lg btn-primary col-6" href="doctor/preferences") Add Preferences
                br

                a(type="button" class="btn btn-lg btn-primary col-6" href="doctor/leave") Apply for Leave
                br

                a(type="button" class="btn btn-lg btn-primary col-6" href="doctor/report") Send Report Message
                br

                a(type="button" class="btn btn-lg btn-primary col-6" href="doctor/workhrs") Working Hours History
                br

            if(!hasWard)
                div(class="card rounded shadow-lg col-6")
                    div(class="card-body text-center")
                        p You will be able to view your roster and working hours, report issues, set preferences and apply for leave when you are assigned a ward. 
                br

            

            