extends layout 


block content

    nav(class="navbar fixed-top navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand" href="/home") Roster Scheduler
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")

        div(class="collapse navbar-collapse" id="navbarSupportedContent")

            ul(class="navbar-nav mr-auto")
                
                li(class="nav-item active")
                    a(class="nav-link" href="#") Roster

                li(class="nav-item")
                    a(class="nav-link" href="/doctor/preferences") Preferences 

                li(class="nav-item active")
                    a(class="nav-link" href="/doctor/leave") Leave

                li(class="nav-item")
                    a(class="nav-link" href="/doctor/report") Report Issue 


            span(class="navbar-text ml-auto") 
            ul(class="navbar-nav")
                li(class="nav-item active")
                    
                    a(class="nav-link" href="/logout") Log Out
                        span(class="sr-only") (current)

    br
    br
    br
    br

    div(class="d-flex flex-column text-center align-items-center justify-content-center")
        h4(class="display-4") All the Rosters of the Ward

        em Click on a month to see its Roster.
        br


        if(details.length==0)
            div(class="alert alert-danger")
                p You don't have Rosters for this ward yet. 
                    
        
        else
            div(class="card rounded shadow-lg col-md-4")
                    div(class="card-body text-center")
                        for ward in details 
                            a(href="/doctor/roster/#{ward.ward_id}/#{ward.year}/#{ward.month}")
                                h3=ward.year + ' - ' + ward.month
                            br

        br
        br

//
    div(class="container-fluid py-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")

            p
                i(class="fas fa-arrow-left" style="color:#1E90FF")
                a(href='/home') &nbsp; Back to Dashboard

            h1 All the Rosters of the Ward #{wardID} 
            em Click on a month to see its Roster.
            br


            if(details.length==0)
                div(class="alert alert-danger")
                    p You don't have Rosters for this ward yet. 
                        
            
            else
                div(class="card rounded shadow-lg col-md-4")
                        div(class="card-body text-center")
                            for ward in details 
                                a(href="/doctor/roster/#{ward.ward_id}/#{ward.year}/#{ward.month}")
                                    h3=ward.year + ' - ' + ward.month
                                br

