extends layout 


block content
    div(class="container-fluid py-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")

            p
                i(class="fas fa-arrow-left" style="color:#1E90FF")
                a(href='/doctor/roster/#{id}') &nbsp; Back all Rosters
                br
                i(class="fas fa-arrow-left" style="color:#1E90FF")
                a(href='/home') &nbsp; Back to Dashboard

            p
                h1 Roster of the Ward #{id} for the Year #{y}, Month #{m}
                br


    table.table.table-striped#dashboardTable(style="width:80%")
            thead
                tr 
                th(style='width:15px') Date
                th(style='width:15px') Shift

            tbody
                each routine, day in roster
                    tr
                    each i in routine.Morning
                        if i == userID
                            td= day
                            td= 'Morning' 

                    each i in routine.Evening
                        if i == userID
                            td= day
                            td= 'Evening' 

                    each i in routine.Night
                        if i == userID
                            td= day
                            td= 'Night' 


            

    

              
                
                




