extends ../layout 

block content
    h1 Ward
    h1=wardName

    p=message

    h2 Ward Parameters
    br 

    p Minimum number of doctors: 
    p=min_docs 

    p Morning shift start time 
    p=morning_start 

    p Day shift start time 
    p=day_start 

    p Night shift start time 
    p=night_start 

    